In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\god\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\god\anaconda3\lib\site-packages (from selenium) (1.26.4)

In [3]:
#importing all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [ ]:
## Question 1 ##

In [57]:
#connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\GOD\Desktop\Flip ROBO\chromedriver.exe')

In [58]:
url='http://www.naukri.com/'
driver.get(url)

In [59]:
#finding the web element using the search bar using class id
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [60]:
#writing data analyst on the skill/designation/companies bar
search_job.send_keys("Data Analyst")

In [61]:
#finding the web element for search location path using absolute xpath
search_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_location

In [62]:
#entering bangalore in the location field
search_location.send_keys("Bangalore")

In [63]:
#clicking the search button
search_button = driver.find_element_by_class_name('qsbSubmit')
search_button

In [64]:
search_button.click()

In [65]:
#extracting titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [66]:
#extracting the text from the title tags
job_titles =[]

for i in title_tags[:10]:
    job_titles.append(i.text)
len(job_titles)

10

In [29]:
job_titles

['Senior Data Analyst - Collibra',
 'Senior Data Analyst II',
 'Senior Data Analyst',
 'Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Global Tax Automation & Operations - Data Scientist Senior Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Business Analyst (Data Analyst role)']

In [67]:
#extracting company names
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [68]:
#extracting text from compaany tags

company_names =[]

for i in company_tags[:10]:
    company_names.append(i.text)
len(company_names)

10

In [35]:
company_names

['Shell',
 'Flipkart',
 'Dell',
 'Insure Pro 2.0',
 'BERKMEER INDIA PRIVATE LIMITED',
 'Lifesight Technologies Pvt. Ltd.',
 'GSK India',
 'Xpheno',
 'Flipkart',
 'Flipkart']

In [69]:
#Extracting experience

exp_tags= driver.find_elements_by_xpath('//span[contains(@title,"Yrs")]')
len(exp_tags)

20

In [70]:
#extracting text from experience tags

experience =[]

for i in exp_tags [:10]:
    experience.append(i.text)
len(experience)

10

In [71]:
experience

['8-12 Yrs',
 '1-6 Yrs',
 '3-5 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '1-2 Yrs',
 '1-2 Yrs']

In [72]:
#extracting the location data

location_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [44]:
#extracting the text 

location =[]

for i in location_tags[:10]:
    location.append(i.text)
len(location)

10

In [73]:
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(HSR Layout +7)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [79]:
len(job_titles), len(company_names), len(experience), len(location)

(10, 10, 10, 10, 10)

In [83]:
jobs=pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company Name'] = company_names
jobs['Experience Required'] = experience
jobs['Job Location']= location
jobs

,Job Title,Company Name,Experience Required,Job Location
0,Senior Data Analyst - Collibra,Shell,8-12 Yrs,Bangalore/Bengaluru
1,"Hiring -Data Analyst, Business Analyst, MIS An...",Flipkart,1-6 Yrs,Bangalore/Bengaluru
2,Global Tax Automation & Operations - Data Scie...,Dell,3-5 Yrs,Bangalore/Bengaluru
3,Data Analyst,Insure Pro 2.0,0-2 Yrs,Bangalore/Bengaluru(HSR Layout +7)
4,Data Analyst,BERKMEER INDIA PRIVATE LIMITED,0-2 Yrs,Bangalore/Bengaluru
5,Data Analyst,Lifesight Technologies Pvt. Ltd.,0-2 Yrs,Bangalore/Bengaluru
6,Data Analyst,GSK India,3-8 Yrs,Bangalore/Bengaluru
7,Business Analyst (Data Analyst role),Xpheno,2-5 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,..."
8,Data Analyst,Flipkart,1-2 Yrs,Bangalore/Bengaluru
9,Data Analyst,Flipkart,1-2 Yrs,Bangalore/Bengaluru

In [90]:
## question 2##

#connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\GOD\Desktop\Flip ROBO\chromedriver.exe')

In [91]:
url='http://www.naukri.com/'
driver.get(url)

In [92]:
#finding the web element using the search bar using class id
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [93]:
#writing data scientist on the skill/designation/companies bar
search_job.send_keys("Data Scientist")

In [94]:
#finding the web element for search location path using absolute xpath
search_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_location

In [95]:
#entering bangalore in the location field
search_location.send_keys("Bangalore")

In [96]:
#clicking the search button
search_button = driver.find_element_by_class_name('qsbSubmit')
search_button

In [97]:
search_button.click()

In [98]:
#extracting titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [99]:
#extracting the text from the title tags
job_titles =[]

for i in title_tags[:10]:
    job_titles.append(i.text)
len(job_titles)

10

In [100]:
job_titles

['Global Tax Automation & Operations - Data Scientist Senior Analyst',
 'Senior Data Scientist I',
 'Data Scientist / Analyst',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist I',
 'Data Scientist / ML Engineer',
 'Sr Data Scientist',
 'Data Scientist /Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist']

In [101]:
#extracting the location data

location_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [102]:
#extracting the text 

location =[]

for i in location_tags[:10]:
    location.append(i.text)
len(location)

10

In [103]:
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra, Gurgaon/Gurugram, Jaipur, Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru']

In [105]:
#extracting company names
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [106]:
#extracting text from compaany tags

company_names =[]

for i in company_tags[:10]:
    company_names.append(i.text)
len(company_names)

10

In [107]:
company_names

['Dell',
 'Delhivery',
 'Talentify',
 'IBM',
 'Delhivery',
 'AVE-Promagne',
 'Fragma data systems pvt ltd',
 'Dun & Bradstreet',
 'Gsn Games India',
 'GREAT LAKES E-LEARNING SERVICES PRIVATE LIMITED']

In [108]:
len(job_titles), len(location), len(company_names)

(10, 10, 10)

In [109]:
jobs=pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Job Location']= location
jobs['Company Name'] = company_names
jobs

,Job Title,Job Location,Company Name
0,Global Tax Automation & Operations - Data Scie...,Bangalore/Bengaluru,Dell
1,Senior Data Scientist I,Bangalore/Bengaluru,Delhivery
2,Data Scientist / Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Talentify
3,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
4,Data Scientist I,Bangalore/Bengaluru,Delhivery
5,Data Scientist / ML Engineer,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra...",AVE-Promagne
6,Sr Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),Fragma data systems pvt ltd
7,Data Scientist /Senior Data Scientist,"Chennai, Bangalore/Bengaluru\n(WFH during Covid)",Dun & Bradstreet
8,Senior Data Scientist,Bangalore/Bengaluru,Gsn Games India
9,Senior Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",GREAT LAKES E-LEARNING SERVICES PRIVATE LIMITED

In [110]:
### Question 3###

#connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\GOD\Desktop\Flip ROBO\chromedriver.exe')

In [111]:
url='http://www.naukri.com/'
driver.get(url)

In [112]:
#finding the web element using the search bar using class id
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [113]:
#writing data scientist on the skill/designation/companies bar
search_job.send_keys("Data Scientist")

In [114]:
#finding the web element for search location path using absolute xpath
search_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_location

In [115]:
#clicking the search button
search_button = driver.find_element_by_class_name('qsbSubmit')
search_button

In [116]:
search_button.click()

In [117]:
#clicking fliters by using absolute xpath 

#filtering location "delhi/NCR"

location_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]')

In [118]:
location_check.click()

In [119]:
#filtering salary "3-6 lakhs"

salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')

In [120]:
salary_check.click()

In [121]:
#extracting titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [122]:
#extracting the text from the title tags
job_titles =[]

for i in title_tags[:10]:
    job_titles.append(i.text)
len(job_titles)

10

In [123]:
job_titles

['Opening For Data Scientist',
 'Data Scientist II',
 'Data Scientist',
 'Junior Data Scientist - Goods & Service Tax Network, Delhi',
 'Associate Data Scientist - Java/ Scala/ Apache Server',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist / Senior DS/ Team Lead',
 'Data Scientist (ML AI Engineer) / InfoObjects Inc.']

In [124]:
#extracting the location data

location_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [125]:
#extracting the text 

location =[]

for i in location_tags[:10]:
    location.append(i.text)
len(location)

10

In [126]:
location

['Gurgaon/Gurugram',
 'Delhi / NCR',
 'Noida',
 'Delhi / NCR',
 'Noida',
 'New Delhi, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram\n(WFH during Covid)',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram(Cyber City +1)',
 'Indore, Jaipur, Delhi / NCR\n(WFH during Covid)']

In [127]:
#extracting company names
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [128]:
#extracting text from compaany tags

company_names =[]

for i in company_tags[:10]:
    company_names.append(i.text)
len(company_names)

10

In [129]:
company_names

['Care Health Insurance',
 'Chegg',
 'Stefanini',
 'NISG (National Institute for Smart Government)',
 'Smart work Consultants',
 'Cloudstrats Technologies Private Limited',
 'Zekardo Automotive Solutions',
 'Team Computers Pvt Ltd',
 'NebulARC Technologies Private Limited',
 'INFOOBJECTS SOFTWARE ( INDIA) PRIVATE LIMITED']

In [130]:
#Extracting experience

exp_tags= driver.find_elements_by_xpath('//span[contains(@title,"Yrs")]')
len(exp_tags)

20

In [131]:
#extracting text from experience tags

experience =[]

for i in exp_tags [:10]:
    experience.append(i.text)
len(experience)

10

In [132]:
experience

['1-5 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '3-5 Yrs',
 '5-8 Yrs',
 '2-6 Yrs',
 '0-4 Yrs',
 '3-7 Yrs']

In [133]:
len(job_titles), len(location), len(company_names), len(experience)

(10, 10, 10, 10)

In [134]:
jobs=pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Job Location']= location
jobs['Company Name'] = company_names
jobs['Experience Required'] = experience
jobs

,Job Title,Job Location,Company Name,Experience Required
0,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
1,Data Scientist II,Delhi / NCR,Chegg,2-6 Yrs
2,Data Scientist,Noida,Stefanini,3-8 Yrs
3,Junior Data Scientist - Goods & Service Tax Ne...,Delhi / NCR,NISG (National Institute for Smart Government),3-8 Yrs
4,Associate Data Scientist - Java/ Scala/ Apache...,Noida,Smart work Consultants,1-4 Yrs
5,Data Scientist,"New Delhi, Delhi / NCR, Mumbai (All Areas)",Cloudstrats Technologies Private Limited,3-5 Yrs
6,Data Scientist,Gurgaon/Gurugram\n(WFH during Covid),Zekardo Automotive Solutions,5-8 Yrs
7,Data Scientist,New Delhi,Team Computers Pvt Ltd,2-6 Yrs
8,Data Scientist / Senior DS/ Team Lead,"Mumbai, Gurgaon/Gurugram(Cyber City +1)",NebulARC Technologies Private Limited,0-4 Yrs
9,Data Scientist (ML AI Engineer) / InfoObjects ...,"Indore, Jaipur, Delhi / NCR\n(WFH during Covid)",INFOOBJECTS SOFTWARE ( INDIA) PRIVATE LIMITED,3-7 Yrs

### Question 4 ####

In [185]:
#connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\GOD\Desktop\Flip ROBO\chromedriver.exe')

In [186]:
url='http://www.flipkart.com/'
driver.get(url)

In [187]:
#finding the web element using the search bar using class id
search_product = driver.find_element_by_class_name("_3704LK")
search_product

In [188]:
#searching sunglasses in search bar
search_product.send_keys("Sunglasses")

In [189]:
#clicking the search button
search_button = driver.find_element_by_class_name('L0Z3Pu')
search_button

In [190]:
search_button.click()

In [191]:
#extracting company name
company_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(company_tags)

40

In [192]:
company_name =[]

for i in company_tags:
    company_name.append(i.text)
len(company_name)

40

In [193]:
company_name

['ROZZETTA CRAFT',
 'VINCENT CHASE',
 'Fastrack',
 'Elligator',
 'SUNBEE',
 'SRPM',
 'SHAAH COLLECTIONS',
 'Singco India',
 'New Specs',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'VILLAIN',
 'SUNBEE',
 'kingsunglasses',
 'Fastrack',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'GANSTA',
 'GANSTA',
 'VINCENT CHASE',
 'PHENOMENAL',
 'Elligator',
 'Elligator',
 'ROZZETTA CRAFT',
 'Elligator',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'agera',
 'New Specs',
 'Lee Topper',
 'VINCENT CHASE',
 'kingsunglasses',
 'Elligator',
 'New Specs',
 'ROZZETTA CRAFT']

In [195]:
#extracting Description
description_tags = driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
len(description_tags)

40

In [196]:
#extracting text from company tags

description =[]

for i in description_tags:
    description.append(i.text)
len(description)

40

In [197]:
description

['UV Protection, Gradient Retro Square Sunglasses (62)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Gradient Aviator Sunglasses (55)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...']

In [199]:
#extracting cost
cost_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(cost_tags)

40

In [200]:
#extracting text from cost tags

price = []

for i in cost_tags:
    price.append(i.text)
len(price)

40

In [201]:
price

['499',
 '799',
 '689',
 '248',
 '243',
 '188',
 '181',
 '664',
 '234',
 '165',
 '229',
 '1,099',
 '271',
 '178',
 '607',
 '999',
 '499',
 '309',
 '399',
 '349',
 '269',
 '269',
 '209',
 '799',
 '299',
 '189',
 '265',
 '649',
 '230',
 '200',
 '626',
 '1,179',
 '196',
 '259',
 '199',
 '1,533',
 '180',
 '167',
 '175',
 '348']

In [202]:
#extracting originallrate
original_tag = driver.find_elements_by_xpath('//div[@class="_3I9_wc"]')
len(original_tag)

40

In [203]:
#extracting text from original tags

original_price =[]

for i in original_tag:
    original_price.append(i.text)
len(original_price)

40

In [204]:
original_price

['1,999',
 '1,999',
 '899',
 '2,495',
 '1,299',
 '1,299',
 '999',
 '2,999',
 '1,999',
 '1,699',
 '1,599',
 '1,749',
 '1,699',
 '999',
 '799',
 '1,999',
 '1,999',
 '1,999',
 '1,999',
 '1,999',
 '999',
 '1,999',
 '1,799',
 '1,999',
 '1,999',
 '1,497',
 '1,299',
 '2,555',
 '1,996',
 '1,599',
 '799',
 '1,999',
 '1,149',
 '1,399',
 '999',
 '2,500',
 '1,099',
 '1,497',
 '1,599',
 '2,256']

In [205]:
#extracting offer %
offer_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(offer_tags)

40

In [206]:
#extracting text from offer tags

offer_percentage =[]

for i in offer_tags:
    offer_percentage.append(i.text)
len(offer_percentage)

40

In [207]:
offer_percentage

['75% off',
 '60% off',
 '23% off',
 '90% off',
 '81% off',
 '85% off',
 '81% off',
 '77% off',
 '88% off',
 '90% off',
 '85% off',
 '37% off',
 '84% off',
 '82% off',
 '24% off',
 '50% off',
 '75% off',
 '84% off',
 '80% off',
 '82% off',
 '73% off',
 '86% off',
 '88% off',
 '60% off',
 '85% off',
 '87% off',
 '79% off',
 '74% off',
 '88% off',
 '87% off',
 '21% off',
 '41% off',
 '82% off',
 '81% off',
 '80% off',
 '38% off',
 '83% off',
 '88% off',
 '89% off',
 '84% off']

In [208]:
sunglass = pd.DataFrame()
sunglass ["Company Name"] = company_name
sunglass ["Product Description"] = description
sunglass ["Price"] = price
sunglass ["Original Price"] = original_price
sunglass ["Offer %"] = offer_percentage
sunglass

,Company Name,Product Description,Price,Original Price,Offer %
0,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",499,"1,999",75% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",799,"1,999",60% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),689,899,23% off
3,Elligator,UV Protection Round Sunglasses (54),248,"2,495",90% off
4,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",243,"1,299",81% off
5,SRPM,UV Protection Wayfarer Sunglasses (50),188,"1,299",85% off
6,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",181,999,81% off
7,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",664,"2,999",77% off
8,New Specs,UV Protection Rectangular Sunglasses (Free Size),234,"1,999",88% off
9,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",165,"1,699",90% off
10,PIRASO,UV Protection Aviator Sunglasses (54),229,"1,599",85% off
11,VILLAIN,Others Wayfarer Sunglasses (Free Size),"1,099","1,749",37% off
12,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",271,"1,699",84% off
13,kingsunglasses,UV Protection Round Sunglasses (54),178,999,82% off
14,Fastrack,UV Protection Rectangular Sunglasses (Free Size),607,799,24% off
15,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (...,999,"1,999",50% off
16,ROZZETTA CRAFT,"Polarized, Night Vision, Riding Glasses Sports...",499,"1,999",75% off
17,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),309,"1,999",84% off
18,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",399,"1,999",80% off
19,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",349,"1,999",82% off
20,PHENOMENAL,UV Protection Retro Square Sunglasses (53),269,999,73% off
21,GANSTA,UV Protection Aviator Sunglasses (57),269,"1,999",86% off
22,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",209,"1,799",88% off
23,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",799,"1,999",60% off
24,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",299,"1,999",85% off
25,Elligator,UV Protection Round Sunglasses (53),189,"1,497",87% off
26,Elligator,UV Protection Round Sunglasses (54),265,"1,299",79% off
27,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (62),649,"2,555",74% off
28,Elligator,UV Protection Round Sunglasses (50),230,"1,996",88% off
29,PIRASO,UV Protection Aviator Sunglasses (54),200,"1,599",87% off
30,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",626,799,21% off
31,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","1,179","1,999",41% off
32,agera,Gradient Aviator Sunglasses (55),196,"1,149",82% off
33,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",259,"1,399",81% off
34,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),199,999,80% off
35,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","1,533","2,500",38% off
36,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),180,"1,099",83% off
37,Elligator,UV Protection Wayfarer Sunglasses (53),167,"1,497",88% off
38,New Specs,UV Protection Aviator Sunglasses (Free Size),175,"1,599",89% off
39,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",348,"2,256",84% off

In [209]:
#clicking the next page
next_button = driver.find_element_by_class_name("_1LKTO3")
next_button

In [210]:
next_button.click()

In [219]:
#extracting company name
company_tags = driver.find_elements_by_xpath('//div[@class= "_2WkVRV"]')
len(company_tags)

40

In [220]:
company_name =[]

for i in company_tags:
    company_name.append(i.text)
len(company_name)

40

In [221]:
company_name

['PHENOMENAL',
 'PIRASO',
 'SRPM',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'PHENOMENAL',
 'VINCENT CHASE',
 'Lee Topper',
 'Rich Club',
 'Elligator',
 'VINCENT CHASE',
 'Johaena',
 'kingsunglasses',
 'ROYAL SON',
 'VINCENT CHASE',
 'DEIXELS',
 'Singco India',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'ROYAL SON',
 'VINCENT CHASE',
 'NuVew',
 'New Specs',
 'PIRASO',
 'VINCENT CHASE',
 'ROYAL SON',
 'hipe',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'SRPM',
 'Fastrack',
 'PHENOMENAL',
 'ROYAL SON',
 'Fastrack',
 'kingsunglasses',
 'kingsunglasses',
 'VILLAIN']

In [222]:
#extracting Description
description_tags = driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
len(description_tags)

40

In [223]:
#extracting text from company tags

description =[]

for i in description_tags:
    description.append(i.text)
len(description)

40

In [224]:
description

['UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Round Sunglasses (48)',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Riding Glasses, UV Protection Oval Sunglasses (52)',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'Mirrored Aviator Sunglasses (55)',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Mirrored Sports Sunglasses (62)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (65)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Retro Square Sunglasses (58)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Others Wayfarer Sunglasses (Free Size)']

In [226]:
#extracting cost
cost_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(cost_tags)

40

In [227]:
#extracting text from cost tags

price =[]

for i in cost_tags:
    price.append(i.text)
len(price)

40

In [228]:
price

['289',
 '349',
 '207',
 '499',
 '225',
 '718',
 '299',
 '799',
 '276',
 '220',
 '291',
 '999',
 '156',
 '174',
 '359',
 '999',
 '202',
 '207',
 '499',
 '349',
 '299',
 '607',
 '664',
 '799',
 '327',
 '232',
 '349',
 '1,179',
 '449',
 '189',
 '267',
 '499',
 '199',
 '607',
 '289',
 '664',
 '692',
 '274',
 '177',
 '522']

In [229]:
#extracting originallrate
original_tag = driver.find_elements_by_xpath('//div[@class="_3I9_wc"]')
len(original_tag)

40

In [230]:
#extracting text from original tags

original_price =[]

for i in original_tag:
    original_price.append(i.text)
len(original_price)

40

In [231]:
original_price

['1,998',
 '1,599',
 '998',
 '1,999',
 '1,599',
 '799',
 '1,999',
 '1,999',
 '2,499',
 '799',
 '1,999',
 '2,500',
 '1,288',
 '999',
 '1,499',
 '1,999',
 '1,199',
 '699',
 '2,225',
 '1,999',
 '2,599',
 '799',
 '1,999',
 '1,999',
 '1,245',
 '1,299',
 '2,599',
 '1,999',
 '1,499',
 '1,466',
 '1,699',
 '1,999',
 '999',
 '799',
 '1,998',
 '1,999',
 '899',
 '1,599',
 '1,199',
 '999']

In [232]:
#extracting offer %
offer_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(offer_tags)

40

In [233]:
#extracting text from offer tags

offer_percentage =[]

for i in offer_tags:
    offer_percentage.append(i.text)
len(offer_percentage)

40

In [234]:
offer_percentage

['85% off',
 '78% off',
 '79% off',
 '75% off',
 '85% off',
 '10% off',
 '85% off',
 '60% off',
 '88% off',
 '72% off',
 '85% off',
 '60% off',
 '87% off',
 '82% off',
 '76% off',
 '50% off',
 '83% off',
 '70% off',
 '77% off',
 '82% off',
 '88% off',
 '24% off',
 '66% off',
 '60% off',
 '73% off',
 '82% off',
 '86% off',
 '41% off',
 '70% off',
 '87% off',
 '84% off',
 '75% off',
 '80% off',
 '24% off',
 '85% off',
 '66% off',
 '23% off',
 '82% off',
 '85% off',
 '47% off']

In [235]:
sunglass = pd.DataFrame()
sunglass ["Company Name"] = company_name
sunglass ["Product Description"] = description
sunglass ["Price"] = price
sunglass ["Original Price"] = original_price
sunglass ["Offer %"] = offer_percentage
sunglass

,Company Name,Product Description,Price,Original Price,Offer %
0,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),289,"1,998",85% off
1,PIRASO,UV Protection Aviator Sunglasses (Free Size),349,"1,599",78% off
2,SRPM,UV Protection Wayfarer Sunglasses (53),207,998,79% off
3,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",499,"1,999",75% off
4,PIRASO,UV Protection Wayfarer Sunglasses (32),225,"1,599",85% off
5,Fastrack,UV Protection Wayfarer Sunglasses (55),718,799,10% off
6,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",299,"1,999",85% off
7,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",799,"1,999",60% off
8,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",276,"2,499",88% off
9,Rich Club,UV Protection Round Sunglasses (48),220,799,72% off
10,Elligator,"UV Protection Retro Square, Round Sunglasses (54)",291,"1,999",85% off
11,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",999,"2,500",60% off
12,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...",156,"1,288",87% off
13,kingsunglasses,"UV Protection, Others Round, Aviator Sunglasse...",174,999,82% off
14,ROYAL SON,Mirrored Aviator Sunglasses (55),359,"1,499",76% off
15,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (...,999,"1,999",50% off
16,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",202,"1,199",83% off
17,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",207,699,70% off
18,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),499,"2,225",77% off
19,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",349,"1,999",82% off
20,PIRASO,UV Protection Aviator Sunglasses (58),299,"2,599",88% off
21,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),607,799,24% off
22,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (57)",664,"1,999",66% off
23,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",799,"1,999",60% off
24,NuVew,"UV Protection, Mirrored Sports Sunglasses (62)",327,"1,245",73% off
25,New Specs,UV Protection Round Sunglasses (Free Size),232,"1,299",82% off
26,PIRASO,UV Protection Butterfly Sunglasses (65),349,"2,599",86% off
27,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","1,179","1,999",41% off
28,ROYAL SON,UV Protection Retro Square Sunglasses (58),449,"1,499",70% off
29,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",189,"1,466",87% off
30,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),267,"1,699",84% off
31,ROZZETTA CRAFT,"Polarized, Night Vision, Riding Glasses Sports...",499,"1,999",75% off
32,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",199,999,80% off
33,Fastrack,Polarized Retro Square Sunglasses (Free Size),607,799,24% off
34,PHENOMENAL,"UV Protection, Mirrored Clubmaster Sunglasses ...",289,"1,998",85% off
35,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (60)",664,"1,999",66% off
36,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),692,899,23% off
37,kingsunglasses,UV Protection Round Sunglasses (Free Size),274,"1,599",82% off
38,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",177,"1,199",85% off
39,VILLAIN,Others Wayfarer Sunglasses (Free Size),522,999,47% off

In [236]:
#clicking the next page
next_button = driver.find_element_by_class_name("_1LKTO3")
next_button

In [237]:
next_button.click()

In [238]:
#extracting company name
company_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(company_tags)

40

In [240]:
company_name =[]

for i in company_tags [:20]:
    company_name.append(i.text)
len(company_name)

20

In [241]:
company_name

['ROZZETTA CRAFT',
 'VINCENT CHASE',
 'Fastrack',
 'Elligator',
 'SUNBEE',
 'SRPM',
 'SHAAH COLLECTIONS',
 'Singco India',
 'New Specs',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'Singco India',
 'SUNBEE',
 'kingsunglasses',
 'Fastrack',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'VINCENT CHASE']

In [242]:
#extracting Description
description_tags = driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
len(description_tags)

40

In [243]:
#extracting text from company tags

description =[]

for i in description_tags[:20]:
    description.append(i.text)
len(description)

20

In [244]:
description

['UV Protection, Gradient Retro Square Sunglasses (62)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...']

In [245]:
#extracting cost
cost_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(cost_tags)

40

In [246]:
#extracting text from cost tags

price =[]

for i in cost_tags[:20]:
    price.append(i.text)
len(price)

20

In [247]:
price

['499',
 '799',
 '689',
 '248',
 '243',
 '188',
 '181',
 '664',
 '234',
 '165',
 '229',
 '207',
 '271',
 '178',
 '607',
 '999',
 '499',
 '309',
 '399',
 '999']

In [248]:
#extracting originallrate
original_tag = driver.find_elements_by_xpath('//div[@class="_3I9_wc"]')
len(original_tag)

40

In [249]:
#extracting text from original tags

original_price =[]

for i in original_tag[:20]:
    original_price.append(i.text)
len(original_price)

20

In [250]:
original_price

['1,999',
 '1,999',
 '899',
 '2,495',
 '1,299',
 '1,299',
 '999',
 '2,999',
 '1,999',
 '1,699',
 '1,599',
 '699',
 '1,699',
 '999',
 '799',
 '2,500',
 '1,999',
 '1,999',
 '1,999',
 '1,999']

In [251]:
#extracting offer %
offer_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(offer_tags)

40

In [252]:
#extracting text from offer tags

offer_percentage =[]

for i in offer_tags[:20]:
    offer_percentage.append(i.text)
len(offer_percentage)

20

In [253]:
offer_percentage

['75% off',
 '60% off',
 '23% off',
 '90% off',
 '81% off',
 '85% off',
 '81% off',
 '77% off',
 '88% off',
 '90% off',
 '85% off',
 '70% off',
 '84% off',
 '82% off',
 '24% off',
 '60% off',
 '75% off',
 '84% off',
 '80% off',
 '50% off']

In [254]:
sunglass = pd.DataFrame()
sunglass ["Company Name"] = company_name
sunglass ["Product Description"] = description
sunglass ["Price"] = price
sunglass ["Original Price"] = original_price
sunglass ["Offer %"] = offer_percentage
sunglass

,Company Name,Product Description,Price,Original Price,Offer %
0,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",499,"1,999",75% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",799,"1,999",60% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),689,899,23% off
3,Elligator,UV Protection Round Sunglasses (54),248,"2,495",90% off
4,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",243,"1,299",81% off
5,SRPM,UV Protection Wayfarer Sunglasses (50),188,"1,299",85% off
6,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",181,999,81% off
7,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",664,"2,999",77% off
8,New Specs,UV Protection Rectangular Sunglasses (Free Size),234,"1,999",88% off
9,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",165,"1,699",90% off
10,PIRASO,UV Protection Aviator Sunglasses (54),229,"1,599",85% off
11,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",207,699,70% off
12,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",271,"1,699",84% off
13,kingsunglasses,UV Protection Round Sunglasses (54),178,999,82% off
14,Fastrack,UV Protection Rectangular Sunglasses (Free Size),607,799,24% off
15,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",999,"2,500",60% off
16,ROZZETTA CRAFT,"Polarized, Night Vision, Riding Glasses Sports...",499,"1,999",75% off
17,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),309,"1,999",84% off
18,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",399,"1,999",80% off
19,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (...,999,"1,999",50% off

In [99]:
## question 5 ##

#connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\GOD\Desktop\Flip ROBO\chromedriver.exe')

In [100]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [101]:
#extracting rating
rating_tags = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags)

10

In [102]:
#extracting text from rating
rating =[]

for i in rating_tags:
    rating.append(i.text)
len(rating)

10

In [103]:
rating

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [104]:
#extracting review
review_summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_summary)

10

In [105]:
#extracting text from review summary 
review_sum = []

for i in review_summary:
    review_sum.append(i.text)
len(review_sum)

10

In [106]:
review_sum

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Highly recommended',
 'Good choice',
 'Worth every penny']

In [107]:
#extracting full review

full_review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(full_review)

10

In [108]:
#extracting text from review summary 

full_rev=[]

for i in full_review:
    full_rev.append(i.text)
len(full_rev)

10

In [109]:
full_rev

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... Its totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display its somewhere between 720-1080 and its not even an amoled its an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nIm am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDont think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nIve attached my puppy pics and no fi...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd its just wow',
 'So far its been an AMAZING experience coming back to iOS after nearly a decade but its not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..']

In [110]:
iphone11 = pd.DataFrame()
iphone11 ["Rating"] = rating
iphone11 ["Review Summary"] = review_sum
iphone11 ["Full Review"] = full_rev
iphone11

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nIm am...
7,5,Highly recommended,What a camera .....just awesome ..you can feel...
8,4,Good choice,So far its been an AMAZING experience coming ...
9,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

In [112]:
#clicking the next page
next_button = driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
next_button

In [113]:
next_button.click()

In [114]:
rating_tags = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating =[]
for i in rating_tags:
    rating.append(i.text)
rating

['5', '5', '5', '5', '5', '5', '5', '5', '5', '4']

In [115]:
review_summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review_sum = []
for i in review_summary:
    review_sum.append(i.text)
review_sum

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Worth every penny',
 'Classy product',
 'Worth every penny',
 'Worth every penny',
 'Nice product']

In [116]:
full_review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_rev=[]

for i in full_review:
    full_rev.append(i.text)

full_rev

['iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Its a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise its amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 "It's my first time to use iOS phone and I am loving my upgradation  I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.",
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Best budget Iphone till date  go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, youll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy \n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Totally in love with this  the camera quality is amazing just love it  itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever  thanku apple ',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 'Its been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCant move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I dont get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.']

In [117]:
iphone11 = pd.DataFrame()
iphone11 ["Rating"] = rating
iphone11 ["Review Summary"] = review_sum
iphone11 ["Full Review"] = full_rev
iphone11

,Rating,Review Summary,Full Review
0,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
1,5,Perfect product!,Its a must buy who is looking for an upgrade ...
2,5,Perfect product!,Value for money\nIts awesome mobile phone ...
3,5,Highly recommended,It's my first time to use iOS phone and I am l...
4,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
5,5,Worth every penny,Best budget Iphone till date go for it guys...
6,5,Classy product,Totally in love with this the camera quality...
7,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
8,5,Worth every penny,Its been almost a month since I have been usi...
9,4,Nice product,Awesome Phone. Slightly high price but worth. ...

In [112]:
#### Question 6 ####


#connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\GOD\Desktop\Flip ROBO\chromedriver.exe')

In [113]:
url='http://www.flipkart.com/'
driver.get(url)

In [114]:
#finding the web element using the search bar using class id
search_product = driver.find_element_by_class_name("_3704LK")
search_product

In [115]:
search_product.send_keys("sneakers")

In [116]:
#clicking the search button
search_button = driver.find_element_by_class_name('L0Z3Pu')
search_button.click()

In [117]:
#extracting company name
company_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(company_tags)

40

In [120]:
#extracting text from company names

company_name = []

for i in company_tags:
    company_name.append(i.text)
company_name

['luxury fashion',
 'HRX by Hrithik Roshan',
 'Elevarse',
 'BRUTON',
 'World Wear Footwear',
 'BRUTON',
 'Chevit',
 'Shuzer68',
 'Labbin',
 'URBANBOX',
 'Trendmode',
 'RapidBox',
 'World Wear Footwear',
 'SCATCHITE',
 'D-SNEAKERZ',
 'Numenzo',
 'PUMA',
 'Shoes Bank',
 'CLYMB',
 'India hub',
 'RapidBox',
 'luxury fashion',
 'DUNKASTON',
 'HRX by Hrithik Roshan',
 'Numenzo',
 'BRUTON',
 'ASTEROID',
 'CALCADOS',
 'BRUTON',
 'World Wear Footwear',
 'Rzisbo',
 'T-ROCK',
 'BRUTON',
 'Chevit',
 'aadi',
 'aadi',
 'RapidBox',
 'Robbie jones',
 'PUMA',
 'Extoes']

In [125]:
#Extracting product description

prod_des = driver.find_elements_by_xpath('//a[contains(@title,"Sneakers")]')
len(prod_des)

40

In [126]:
#extracting text from product description

description =[]

for i in prod_des:
    description.append(i.text)
len(description)

40

In [127]:
description

['Luxuryfashion casual sneaker shoes Sneakers For Men',
 'Men White Printed Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Smash v2 L White- Black Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 "Perfect Sports Shoes for Men's Running ,Cycling & Trekk...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Sneakers For Men',
 'Stylish Casual Party Wear Sneakers Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Combo Pack Of 3 Sneakers For Men']

In [129]:
#extracting cost from the price tags

price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tag)

40

In [130]:
#extracting text from the price tags

price =[]

for i in price_tag:
    price.append(i.text)
price

['499',
 '2,499',
 '349',
 '259',
 '199',
 '499',
 '649',
 '397',
 '499',
 '220',
 '359',
 '640',
 '249',
 '398',
 '299',
 '479',
 '1,799',
 '345',
 '249',
 '426',
 '680',
 '407',
 '399',
 '2,199',
 '499',
 '499',
 '499',
 '668',
 '189',
 '259',
 '549',
 '499',
 '259',
 '489',
 '379',
 '399',
 '690',
 '499',
 '1,994',
 '798']

In [131]:
sneakers = pd.DataFrame()
sneakers ["Brand"] = company_name
sneakers ["Description"] = description
sneakers ["Price"] = price
sneakers

,Company Name,Description,Price
0,luxury fashion,Luxuryfashion casual sneaker shoes Sneakers Fo...,499
1,HRX by Hrithik Roshan,Men White Printed Sneakers Sneakers For Men,"2,499"
2,Elevarse,Sneakers For Men,349
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,259
4,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,199
5,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,499
6,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,649
7,Shuzer68,Sneakers For Men,397
8,Labbin,Sneakers For Men,499
9,URBANBOX,Sneakers Sneakers For Men,220
10,Trendmode,Sneakers For Men,359
11,RapidBox,Sneakers For Men,640
12,World Wear Footwear,Sneakers For Men,249
13,SCATCHITE,Sneakers Sneakers For Men,398
14,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",299
15,Numenzo,Sneakers For Men,479
16,PUMA,Smash v2 L White- Black Sneakers For Men,"1,799"
17,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,345
18,CLYMB,"Perfect Sports Shoes for Men's Running ,Cyclin...",249
19,India hub,Sneakers For Men,426
20,RapidBox,Sneakers For Men,680
21,luxury fashion,Luxury Fashionable casual shoes Sneakers For Men,407
22,DUNKASTON,Sneakers For Men,399
23,HRX by Hrithik Roshan,Sneakers For Men,"2,199"
24,Numenzo,411 Casual Sneakers For Men,499
25,BRUTON,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,499
26,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,499
27,CALCADOS,Sneakers For Men,668
28,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,189
29,World Wear Footwear,Men 5014 Latest Collection Stylish Casual Spor...,259
30,Rzisbo,Sneakers For Men,549
31,T-ROCK,Stylish Casual Party Wear Sneakers Sneakers Fo...,499
32,BRUTON,Lattest Sneakers Shoe Sneakers For Men,259
33,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,489
34,aadi,Sneakers For Men,379
35,aadi,Sneakers For Men,399
36,RapidBox,Sneakers For Men,690
37,Robbie jones,Sneakers For Men,499
38,PUMA,Puma Smash v2 L Sneakers For Men,"1,994"
39,Extoes,Combo Pack Of 3 Sneakers For Men,798

In [141]:
#clicking the next page
next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_button

In [142]:
#extracting company name
company_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [143]:
#extracting text from company names

company_name = []

for i in company_tags:
    company_name.append(i.text)
company_name

['Chevit',
 'DRESTA',
 'Robbie jones',
 'World Wear Footwear',
 'aadi',
 'Zsyto',
 'Xtoon',
 'Robbie jones',
 'Chevit',
 'aadi',
 'ASIAN',
 'BIRDE',
 'Echor',
 'Chevit',
 'RODDICK SHOES',
 'Arohi',
 'Bata',
 'RODDICK SHOES',
 'BRUTON',
 'Trendmode',
 'LE GREEM',
 'Numenzo',
 'RANZAG',
 'PUMA',
 'SPARX',
 'D-SNEAKERZ',
 'aadi',
 'KNIGHT WALKERS',
 'RapidBox',
 'Vellinto',
 'India hub',
 'Kraasa',
 'PUMA',
 'Deals4you',
 'Zorth',
 'Zixer',
 'aadi',
 'Ktiz',
 'Echor',
 'BRUTON']

In [144]:
#Extracting product description

prod_des = driver.find_elements_by_xpath('//a[contains(@title,"Sneakers")]')

In [145]:
#extracting text from product description

description =[]

for i in prod_des:
    description.append(i.text)
description

['494 Perfect Sports Shoes for Running Training Hikking &...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 'Sneakers For Men',
 'Sneakers For Men',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 '516 Trendy Star Perfect Sneakers For Men',
 'Sneakers For Men',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Stylish and Trendy New Design Lightweight,Casual shoes ...',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers For Men',
 'Canvas Sneaker Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'CUBIC_1 Sneakers For Men',
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'White Sneaker For Men Sneakers For Men',
 'Running Shoes Stylish Comfortable Shoes For Men Sneaker...',
 'Puma Rebound LayUp SL Sneakers For Men',
 'SM-439 Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakrs For Men Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Ontario Sneakers For Men',
 'Sneakers For Men',
 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...',
 'Exclusive dancing shoe for boys, Funky dancing sneaker...',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Sneakers Walking Shoes - Lightweight Classic Whit...",
 'CUBIC_1 Sneakers For Men']

In [146]:
#extracting cost from the price tags

price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [147]:
#extracting text from the price tags

price =[]

for i in price_tag:
    price.append(i.text)
price

['299',
 '448',
 '499',
 '259',
 '449',
 '328',
 '499',
 '499',
 '259',
 '474',
 '549',
 '399',
 '499',
 '498',
 '428',
 '435',
 '499',
 '433',
 '296',
 '249',
 '449',
 '429',
 '385',
 '2,289',
 '849',
 '384',
 '498',
 '599',
 '680',
 '711',
 '404',
 '499',
 '1,224',
 '449',
 '435',
 '599',
 '379',
 '448',
 '569',
 '296']

In [264]:
sneakers = pd.DataFrame()
sneakers ["Brand"] = company_name
sneakers ["Description"] = description
sneakers ["Price"] = price
sneakers

                Brand                                        Description Price
0      ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  499
1       VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...  799
2            Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  689
3           Elligator                UV Protection Round Sunglasses (54)  248
4              SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...  243
5                SRPM             UV Protection Wayfarer Sunglasses (50)  188
6   SHAAH COLLECTIONS  UV Protection, Polarized, Mirrored Rectangular...  181
7        Singco India  Gradient, Toughened Glass Lens, UV Protection ...  664
8           New Specs   UV Protection Rectangular Sunglasses (Free Size)  234
9   SHAAH COLLECTIONS  UV Protection, Polarized, Mirrored Rectangular...  165
10             PIRASO              UV Protection Aviator Sunglasses (54)  229
11       Singco India  UV Protection, Riding Glasses, Others Aviator,...  207
12             SUNBEE  UV Protection, Polarized, Mirrored Round Sungl...  271
13     kingsunglasses                UV Protection Round Sunglasses (54)  178
14           Fastrack   UV Protection Rectangular Sunglasses (Free Size)  607
15      VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  999
16     ROZZETTA CRAFT  Polarized, Night Vision, Riding Glasses Sports...  499
17         PHENOMENAL  UV Protection Retro Square Sunglasses (Free Size)  309
18     ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  399
19      VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (...  999

In [152]:
#clicking the next page
next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_button

In [154]:
next_button.click()

In [155]:
#extracting company name
company_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [156]:
#extracting text from company names

company_name = []

for i in company_tags[:20]:
    company_name.append(i.text)
company_name

['BIRDE',
 'RODDICK SHOES',
 'URBANBOX',
 'Magnolia',
 'Chevit',
 'LE GREEM',
 'SPARX',
 'BRUTON',
 'SEGA',
 'PUMA',
 'SPARX',
 'WHITE WALKERS',
 'Echor',
 'India hub',
 'Ardeo',
 'PUMA',
 'Bretton',
 'Bond Street By Red Tape',
 'KANEGGYE',
 'Robbie jones']

In [157]:
#Extracting product description

prod_des = driver.find_elements_by_xpath('//a[contains(@title,"Sneakers")]')

In [158]:
#extracting text from product description

description =[]

for i in prod_des[:20]:
    description.append(i.text)
description

['Combo Pack of 2 Casual shoes Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'STYLISH-WHITE-9 Sneakers For Men',
 'Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Comfortable & Smart Sneakers For Men',
 'Casual Sneakers Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'Puma Wired Cage Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 "Echor Men's Sneakers Fashion Lightweight Running Shoes ...",
 'luxury fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 'Rebound Future Evo Sneakers For Men',
 'Classy Stylish Ayasa Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Black Shoes For Men Sneakers For Men']

In [159]:
#extracting cost from the price tags

price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [160]:
#extracting text from the price tags

price =[]

for i in price_tag[:20]:
    price.append(i.text)
price

['499',
 '424',
 '166',
 '472',
 '498',
 '449',
 '1,092',
 '473',
 '642',
 '1,610',
 '849',
 '599',
 '499',
 '449',
 '499',
 '3,220',
 '251',
 '1,259',
 '399',
 '451']

In [263]:
sneakers = pd.DataFrame()
sneakers ["Brand"] = company_name
sneakers ["Description"] = description
sneakers ["Price"] = price
sneakers

                Brand                                        Description Price
0      ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  499
1       VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...  799
2            Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  689
3           Elligator                UV Protection Round Sunglasses (54)  248
4              SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...  243
5                SRPM             UV Protection Wayfarer Sunglasses (50)  188
6   SHAAH COLLECTIONS  UV Protection, Polarized, Mirrored Rectangular...  181
7        Singco India  Gradient, Toughened Glass Lens, UV Protection ...  664
8           New Specs   UV Protection Rectangular Sunglasses (Free Size)  234
9   SHAAH COLLECTIONS  UV Protection, Polarized, Mirrored Rectangular...  165
10             PIRASO              UV Protection Aviator Sunglasses (54)  229
11       Singco India  UV Protection, Riding Glasses, Others Aviator,...  207
12             SUNBEE  UV Protection, Polarized, Mirrored Round Sungl...  271
13     kingsunglasses                UV Protection Round Sunglasses (54)  178
14           Fastrack   UV Protection Rectangular Sunglasses (Free Size)  607
15      VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  999
16     ROZZETTA CRAFT  Polarized, Night Vision, Riding Glasses Sports...  499
17         PHENOMENAL  UV Protection Retro Square Sunglasses (Free Size)  309
18     ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  399
19      VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (...  999

In [162]:
### Question 7 ###

#connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\GOD\Desktop\Flip ROBO\chromedriver.exe')

In [163]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [164]:
## checking the price filter ###

price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [166]:
## checking the colcour filter ##

color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_filter.click()

In [168]:
# extracting data from the name tag

company_tag = driver.find_elements_by_xpath('//h3[contains(@class,"product-brand")]')

In [169]:
#extracting text from the company tag

company_name = []

for i in company_tag:
    company_name.append(i.text)
company_name

['Nike',
 'ALDO',
 'Nike',
 'Puma',
 'Tommy Hilfiger',
 'Puma',
 'Puma',
 'Puma',
 'Puma',
 'Tommy Hilfiger',
 'Hush Puppies',
 'PUMA Motorsport',
 'New Balance',
 'Skechers',
 'Hush Puppies',
 'RARE RABBIT',
 'DAVINCHI',
 'Puma',
 'ASICS',
 'RARE RABBIT',
 'Tommy Hilfiger',
 'Bugatti',
 'New Balance',
 'Hush Puppies',
 'ASICS',
 'ALDO',
 'Xtep',
 'Bugatti',
 'Hush Puppies',
 'Saint G',
 'Columbia',
 'Puma',
 'Louis Philippe',
 'Saint G',
 'Royal Enfield',
 'J.FONTINI',
 'Bugatti',
 'Hush Puppies',
 'DAVINCHI',
 'Tommy Hilfiger',
 'DAVINCHI',
 'Saint G',
 'Clarks',
 'Clarks',
 'Saint G',
 'Geox',
 'Tommy Hilfiger',
 'New Balance',
 'Columbia',
 'Geox']

In [171]:
# extracting the product description

prod_des = driver.find_elements_by_xpath('//h4[contains(@class,"product-product")]')
len(prod_des)

50

In [172]:
# extracting data from the description

description =[]

for i in prod_des:
    description.append(i.text)
description

['Men AIR ZOOM PEGASUS 38',
 'Men Printed Sneakers',
 'Men Blazer Court Skateboarding',
 'Men Jamming 2.0 Running Shoes',
 'Men Leather Sneakers',
 'Men Running Shoes',
 'Men Deviate Nitro Running Shoe',
 'Men Magnify Nitro Running',
 'Men Electrify Nitro Running',
 'Men Leather Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Unisex Ferrari Drift8 Sneakers',
 'Men Woven Design Running Shoes',
 'Men Go Run Hyper Burst Running',
 'Men Perforations Leather Slip-On Sneakers',
 'Men Leather Slip-On Sneakers',
 'Men Textured Formal Leather Loafers',
 'Men Training or Gym Shoes',
 'Women Running Shoes',
 'Men Leather Flat Boots',
 'Leather Sandals',
 'Men Black Walking Shoes',
 'Men Woven Design Running Shoes',
 'Men Solid Formal Slip-Ons',
 'Men Colourblocked PU Sneakers',
 'Wedge Sandals',
 'Men Running Shoes',
 'Men Walking Shoes',
 'Men Solid Leather Formal Derbys',
 'Leather Block Heeled Boots',
 'Women REDMOND V2 TrekkingShoe',
 'Women Eternity Nitro Running',
 'Men Leather Formal Slip-Ons',
 'Men Mid-Top Chelsea Boots',
 'Cabo WP Riding Boots',
 'Men Textured Leather Loafers',
 'Men Textured Leather High-Top Flat Boots',
 'Men Formal Derbys',
 'Ustraa black',
 'Women ELEVATED Leather Sneaker',
 'Men Solid Leather Formal Loafers',
 'Women Leather Heeled Boots',
 'Men Solid Leather Formal Brogues',
 'Men Solid Leather Formal Loafers',
 'Embellished Leather Block Heeled Boots',
 'Women Leather Loafers',
 'Women CLEAT Textured Sneakers',
 'Women Woven Running Shoes',
 'Men FACET OUTDRY Trekking Shoe',
 'Men Leather Driving Shoes']

In [174]:
#extracting cost details

cost_tag= driver.find_elements_by_xpath('//div [contains(@class,"product-price")]')
len(cost_tag)

50

In [175]:
#extracting text from cost details

price = []

for i in cost_tag:
    price.append(i.text)
price

['Rs. 9770Rs. 11495(15% OFF)',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7495',
 'Rs. 12999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7599',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 7699',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 9999',
 'Rs. 9265Rs. 10900(15% OFF)',
 'Rs. 7999',
 'Rs. 7149Rs. 12999(45% OFF)',
 'Rs. 7394Rs. 8499(13% OFF)',
 'Rs. 10500Rs. 10900(Rs. 400 OFF)',
 'Rs. 8500',
 'Rs. 8490',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 7219Rs. 7599(5% OFF)',
 'Rs. 8490',
 'Rs. 11473Rs. 14900(23% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7869Rs. 12900(39% OFF)',
 'Rs. 7999',
 'Rs. 7739Rs. 8599(10% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 12999',
 'Rs. 9499']

In [176]:
blacksneakers = pd.DataFrame()
blacksneakers ["Comppany Name"] = company_name
blacksneakers ["Product Description"] = description
blacksneakers ["Price"] = price
blacksneakers

,Comppany Name,Product Description,Price
0,Nike,Men AIR ZOOM PEGASUS 38,Rs. 9770Rs. 11495(15% OFF)
1,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(30% OFF)
2,Nike,Men Blazer Court Skateboarding,Rs. 7495
3,Puma,Men Jamming 2.0 Running Shoes,Rs. 12999
4,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
5,Puma,Men Running Shoes,Rs. 12999
6,Puma,Men Deviate Nitro Running Shoe,Rs. 10499Rs. 14999(30% OFF)
7,Puma,Men Magnify Nitro Running,Rs. 7799Rs. 12999(40% OFF)
8,Puma,Men Electrify Nitro Running,Rs. 9999
9,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
10,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
11,PUMA Motorsport,Unisex Ferrari Drift8 Sneakers,Rs. 7999
12,New Balance,Men Woven Design Running Shoes,Rs. 7999Rs. 9999(20% OFF)
13,Skechers,Men Go Run Hyper Burst Running,Rs. 7224Rs. 8499(15% OFF)
14,Hush Puppies,Men Perforations Leather Slip-On Sneakers,Rs. 7999
15,RARE RABBIT,Men Leather Slip-On Sneakers,Rs. 7999
16,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
17,Puma,Men Training or Gym Shoes,Rs. 7999
18,ASICS,Women Running Shoes,Rs. 7999
19,RARE RABBIT,Men Leather Flat Boots,Rs. 7999Rs. 9999(20% OFF)
20,Tommy Hilfiger,Leather Sandals,Rs. 7599
21,Bugatti,Men Black Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
22,New Balance,Men Woven Design Running Shoes,Rs. 8799Rs. 10999(20% OFF)
23,Hush Puppies,Men Solid Formal Slip-Ons,Rs. 9999
24,ASICS,Men Colourblocked PU Sneakers,Rs. 9999
25,ALDO,Wedge Sandals,Rs. 7999
26,Xtep,Men Running Shoes,Rs. 7699
27,Bugatti,Men Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
28,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 9999
29,Saint G,Leather Block Heeled Boots,Rs. 9265Rs. 10900(15% OFF)
30,Columbia,Women REDMOND V2 TrekkingShoe,Rs. 7999
31,Puma,Women Eternity Nitro Running,Rs. 7149Rs. 12999(45% OFF)
32,Louis Philippe,Men Leather Formal Slip-Ons,Rs. 7394Rs. 8499(13% OFF)
33,Saint G,Men Mid-Top Chelsea Boots,Rs. 10500Rs. 10900(Rs. 400 OFF)
34,Royal Enfield,Cabo WP Riding Boots,Rs. 8500
35,J.FONTINI,Men Textured Leather Loafers,Rs. 8490
36,Bugatti,Men Textured Leather High-Top Flat Boots,Rs. 8399Rs. 11999(30% OFF)
37,Hush Puppies,Men Formal Derbys,Rs. 9999
38,DAVINCHI,Ustraa black,Rs. 8990
39,Tommy Hilfiger,Women ELEVATED Leather Sneaker,Rs. 7219Rs. 7599(5% OFF)
40,DAVINCHI,Men Solid Leather Formal Loafers,Rs. 8490
41,Saint G,Women Leather Heeled Boots,Rs. 11473Rs. 14900(23% OFF)
42,Clarks,Men Solid Leather Formal Brogues,Rs. 7999
43,Clarks,Men Solid Leather Formal Loafers,Rs. 7999
44,Saint G,Embellished Leather Block Heeled Boots,Rs. 7869Rs. 12900(39% OFF)
45,Geox,Women Leather Loafers,Rs. 7999
46,Tommy Hilfiger,Women CLEAT Textured Sneakers,Rs. 7739Rs. 8599(10% OFF)
47,New Balance,Women Woven Running Shoes,Rs. 7799Rs. 12999(40% OFF)
48,Columbia,Men FACET OUTDRY Trekking Shoe,Rs. 12999
49,Geox,Men Leather Driving Shoes,Rs. 9499

In [177]:
#clicking the next button 

next_button = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]')
next_button.click()

In [178]:
# extracting data from the name tag

company_tag = driver.find_elements_by_xpath('//h3[contains(@class,"product-brand")]')

In [179]:
#extracting text from the company tag

company_name = []

for i in company_tag:
    company_name.append(i.text)
company_name

['Geox',
 'Cole Haan',
 'Columbia',
 'New Balance',
 'J.FONTINI',
 'Hush Puppies',
 'Clarks',
 'J.FONTINI',
 'Saint G',
 'Heel & Buckle London',
 'J.FONTINI',
 'Hush Puppies',
 'J.FONTINI',
 'Saint G',
 'J.FONTINI',
 'Geox',
 'Geox',
 'New Balance',
 'J.FONTINI',
 'Geox',
 'Geox',
 'Bugatti',
 'Clarks',
 'DAVINCHI',
 'DAVINCHI',
 'J.FONTINI',
 'DAVINCHI',
 'DAVINCHI',
 'Pavers England',
 'Saint G',
 'Saint G',
 'Saint G',
 'Cole Haan',
 'Geox',
 'Cole Haan',
 'Pavers England',
 'Cole Haan',
 'Saint G',
 'Saint G',
 'Saint G',
 'Pavers England',
 'Saint G',
 'ALDO',
 'ASICS',
 'Heel & Buckle London',
 'Clarks',
 'Heel & Buckle London',
 'Saint G',
 'ECCO',
 'Saint G']

In [180]:
# extracting the product description

prod_des = driver.find_elements_by_xpath('//h4[contains(@class,"product-product")]')
len(prod_des)

50

In [181]:
# extracting data from the description

description =[]

for i in prod_des:
    description.append(i.text)
description

['Men Leather Driving Shoes',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Women Woven Running Shoes',
 'Men Textured Leather Loafers',
 'Men Leather Derbys',
 'Men Leather Formal Loafers',
 'Men Solid Loafers',
 'Striped Suede Flatform Heeled Boots',
 'Men Formal Leather Derby',
 'Men Textured Leather Loafers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Black Leather Loafers',
 'Women Leather Mules',
 'Men Leather Formal Loafers',
 'Women Leather Pumps',
 'Women Solid Leather Pumps',
 'Men Fuelcell Running Shoes',
 'Men Leather Formal Loafers',
 'Women Solid Leather Pumps',
 'Men Leather Driving Shoes',
 'Men Sneakers',
 'Men Solid Formal Leather Derbys',
 'Solid Slip On Shoes',
 'Men Formal Leather Slip-Ons',
 'Men Textured Leather Formal Loafers',
 'Men Textured Formal Leather Loafers',
 'Men Solid Leather Formal Derbys',
 'Men Leather Driving Shoes',
 'Men Leather Chelsea Boots',
 'Leather Block Mules',
 'Leather Block Peep Toes',
 'Women Sneakers',
 'Women Solid Leather Ballerinas',
 'Women Solid Leather Ballerinas',
 'Men Printed Loafers',
 'Women Leather Loafers',
 'Women Leather Heeled Boots',
 'Women Leather Heeled Boots',
 'Women Leather Heeled Boots',
 'Men Textured Leather Driving Shoes',
 'Women Leather Heeled Boots',
 'Leather Slim Heels',
 'Women Running Shoes',
 'Men Suede Loafers',
 'Men Leather Derbys',
 'Men Leather Sneakers',
 'Leather Wedge Heeled Boots with Buckles',
 'Leather Stiletto Pumps',
 'Leather Kitten Heeled Boots']

In [182]:
#extracting cost details

cost_tag= driver.find_elements_by_xpath('//div [contains(@class,"product-price")]')
len(cost_tag)

50

In [183]:
#extracting text from cost details

price = []

for i in cost_tag:
    price.append(i.text)
price

['Rs. 9499',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 7990',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 8990',
 'Rs. 8415Rs. 9900(15% OFF)',
 'Rs. 7990',
 'Rs. 8490',
 'Rs. 9999',
 'Rs. 8490',
 'Rs. 7216Rs. 8200(12% OFF)',
 'Rs. 7490',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 7490',
 'Rs. 10990',
 'Rs. 9999',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 9999',
 'Rs. 7990',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 9990',
 'Rs. 7499',
 'Rs. 10710Rs. 11900(10% OFF)',
 'Rs. 7900',
 'Rs. 9450Rs. 10500(10% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 8999',
 'Rs. 9799Rs. 13999(30% OFF)',
 'Rs. 11999',
 'Rs. 11899Rs. 16999(30% OFF)',
 'Rs. 12325Rs. 14500(15% OFF)',
 'Rs. 12325Rs. 14500(15% OFF)',
 'Rs. 14025Rs. 16500(15% OFF)',
 'Rs. 9999',
 'Rs. 11815Rs. 13900(15% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 12990',
 'Rs. 9999',
 'Rs. 13990',
 'Rs. 12665Rs. 14900(15% OFF)',
 'Rs. 12999',
 'Rs. 8415Rs. 9900(15% OFF)']

In [184]:
blacksneakers = pd.DataFrame()
blacksneakers ["Comppany Name"] = company_name
blacksneakers ["Product Description"] = description
blacksneakers ["Price"] = price
blacksneakers

,Comppany Name,Product Description,Price
0,Geox,Men Leather Driving Shoes,Rs. 9499
1,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 11999
2,Columbia,PEAKFREAK OUTDRY Trekking Shoe,Rs. 9999
3,New Balance,Women Woven Running Shoes,Rs. 7199Rs. 8999(20% OFF)
4,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
5,Hush Puppies,Men Leather Derbys,Rs. 7999
6,Clarks,Men Leather Formal Loafers,Rs. 7499
7,J.FONTINI,Men Solid Loafers,Rs. 8990
8,Saint G,Striped Suede Flatform Heeled Boots,Rs. 8415Rs. 9900(15% OFF)
9,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990
10,J.FONTINI,Men Textured Leather Loafers,Rs. 8490
11,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 9999
12,J.FONTINI,Men Black Leather Loafers,Rs. 8490
13,Saint G,Women Leather Mules,Rs. 7216Rs. 8200(12% OFF)
14,J.FONTINI,Men Leather Formal Loafers,Rs. 7490
15,Geox,Women Leather Pumps,Rs. 8999
16,Geox,Women Solid Leather Pumps,Rs. 7999
17,New Balance,Men Fuelcell Running Shoes,Rs. 9599Rs. 11999(20% OFF)
18,J.FONTINI,Men Leather Formal Loafers,Rs. 7490
19,Geox,Women Solid Leather Pumps,Rs. 10990
20,Geox,Men Leather Driving Shoes,Rs. 9999
21,Bugatti,Men Sneakers,Rs. 8799Rs. 10999(20% OFF)
22,Clarks,Men Solid Formal Leather Derbys,Rs. 9999
23,DAVINCHI,Solid Slip On Shoes,Rs. 7990
24,DAVINCHI,Men Formal Leather Slip-Ons,Rs. 8990
25,J.FONTINI,Men Textured Leather Formal Loafers,Rs. 8990
26,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
27,DAVINCHI,Men Solid Leather Formal Derbys,Rs. 9990
28,Pavers England,Men Leather Driving Shoes,Rs. 7499
29,Saint G,Men Leather Chelsea Boots,Rs. 10710Rs. 11900(10% OFF)
30,Saint G,Leather Block Mules,Rs. 7900
31,Saint G,Leather Block Peep Toes,Rs. 9450Rs. 10500(10% OFF)
32,Cole Haan,Women Sneakers,Rs. 7799Rs. 12999(40% OFF)
33,Geox,Women Solid Leather Ballerinas,Rs. 8999
34,Cole Haan,Women Solid Leather Ballerinas,Rs. 9799Rs. 13999(30% OFF)
35,Pavers England,Men Printed Loafers,Rs. 11999
36,Cole Haan,Women Leather Loafers,Rs. 11899Rs. 16999(30% OFF)
37,Saint G,Women Leather Heeled Boots,Rs. 12325Rs. 14500(15% OFF)
38,Saint G,Women Leather Heeled Boots,Rs. 12325Rs. 14500(15% OFF)
39,Saint G,Women Leather Heeled Boots,Rs. 14025Rs. 16500(15% OFF)
40,Pavers England,Men Textured Leather Driving Shoes,Rs. 9999
41,Saint G,Women Leather Heeled Boots,Rs. 11815Rs. 13900(15% OFF)
42,ALDO,Leather Slim Heels,Rs. 8399Rs. 11999(30% OFF)
43,ASICS,Women Running Shoes,Rs. 7999Rs. 9999(20% OFF)
44,Heel & Buckle London,Men Suede Loafers,Rs. 12990
45,Clarks,Men Leather Derbys,Rs. 9999
46,Heel & Buckle London,Men Leather Sneakers,Rs. 13990
47,Saint G,Leather Wedge Heeled Boots with Buckles,Rs. 12665Rs. 14900(15% OFF)
48,ECCO,Leather Stiletto Pumps,Rs. 12999
49,Saint G,Leather Kitten Heeled Boots,Rs. 8415Rs. 9900(15% OFF)

In [4]:
### question 8 ###

#connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\GOD\Desktop\Flip ROBO\chromedriver.exe')

In [5]:
#fetching url

url='http://www.amezon.in/'
driver.get(url)

In [6]:
#finding the web element using the search bar using class id
search_laptop = driver.find_element_by_id("twotabsearchtextbox")
search_laptop

In [7]:
#entering laptop in the searh engine
search_laptop.send_keys("Laptop")

In [8]:
#clicking the search button
search_button = driver.find_element_by_id("nav-search-submit-button")
search_button

In [9]:
search_button.click()

In [10]:
#clicking fliters by using absolute xpath 
intel7_check = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[3]/li[12]/span/a/span')
intel7_check.click()

In [11]:
#extracting title tag
company_tag = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(company_tag)

10

In [12]:
#extracting text from company names

company_name = []

for i in company_tag [:10]:
    company_name.append(i.text)
len(company_name)

10

In [13]:
company_name

['ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10/Gray/2.3 kg), FX566HM-HN097TS',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 240Hz/3ms, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Black/2.3 kg), FX506HM-AZ099TS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 'HP ZBOOK Power G8/ Intel core i9-11900H 8 Core/32GB DDR4 3200 RAM/1TB PCIe NVMe TLC SSD /15.6 FHD /Nvidia Quadro T1200 Dedicated Graphics 4GB DDR6 /Windows 10 Pro / 3 Year Warranty',
 '(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'HP Zbook - Intel i9, 15 inch(39.6 cm)FHD 400 Nits Display, Thin & Light , Anti-Glare(32GB RAM/1TB M.2 SSD/Nvidia RTX A2000 4GB Graphics/Win10 Pro/IR Camera/ HP Zbook Power G8 Mobile Workstation',
 '(Renewed) DELL XPS 7590 15.6-inch UHD Display Laptop (9th Gen Core i9-9980HK/32GB/1TB SSD/Win 10 + MS Office/4GB Nvidia Graphics), Abyss Grey',
 'Dell Precision 5550 || i9 -10885H || 16GB || 1TB NVMe || T2000 4 GB || Win 10 Pro (Free Upgrade Win 11Pro) / 15.6 FHD+ / 3 Year ADP',
 'Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz 10C) /16GB RAM/512GB SSD+1TB SATA/Nvidia RTX 3070 8GB Graphics/DVDRW/Windows 10 Pro/3 Year Warranty',
 'HP ZBook Power G8/ Intel Core i9-11950H 2.5GHz 8 Core/64GB DDR4/ 2TB PCIe NVMe SSD /15.6 FHD/Nvidia Quadro RTX A2000 Graphics 4GB DDR6/ 1RJ45/ Windows 10 Pro/ 3 Year Warranty from HP']

In [15]:
#extracting price tags

price_tag = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
len(price_tag)

30

In [16]:
#extracting text from the price tag

price = []

for i in price_tag[:10]:
    price.append(i.text)
len(price)

10

In [17]:
price

['92,490',
 '92,999',
 '59,990',
 '86,990',
 '96,990',
 '88,990',
 '99,499',
 '70,000',
 '84,990',
 '89,990']

In [27]:
laptop = pd.DataFrame()
laptop ["I7 Laptop Name"] = company_name
laptop ["Price"] = price
laptop

                                      I7 Laptop Name     Price
0  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  1,39,990
1  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  1,44,990
2  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  1,43,990
3  HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...  2,43,000
4  (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...  2,25,000
5  HP Zbook - Intel i9, 15 inch(39.6 cm)FHD 400 N...  2,54,563
6  (Renewed) DELL XPS 7590 15.6-inch UHD Display ...  1,75,000
7  Dell Precision 5550 || i9 -10885H || 16GB || 1...  2,25,000
8  Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz ...  2,39,000
9  HP ZBook Power G8/ Intel Core i9-11950H 2.5GHz...  2,93,000

In [18]:
#extracting data for intel i9

intel9_check = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[3]/li[13]/span/a/span')
intel9_check.click()

In [20]:
#extracting title tag
company_tag = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(company_tag)

10

In [22]:
#extracting data from the company_tag

company_name =[]

for i in company_tag [:10]:
    company_name.append(i.text)
len(company_name)

10

In [23]:
company_name

['ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10/Gray/2.3 kg), FX566HM-HN097TS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 240Hz/3ms, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Black/2.3 kg), FX506HM-AZ099TS',
 'HP ZBOOK Power G8/ Intel core i9-11900H 8 Core/32GB DDR4 3200 RAM/1TB PCIe NVMe TLC SSD /15.6 FHD /Nvidia Quadro T1200 Dedicated Graphics 4GB DDR6 /Windows 10 Pro / 3 Year Warranty',
 '(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'HP Zbook - Intel i9, 15 inch(39.6 cm)FHD 400 Nits Display, Thin & Light , Anti-Glare(32GB RAM/1TB M.2 SSD/Nvidia RTX A2000 4GB Graphics/Win10 Pro/IR Camera/ HP Zbook Power G8 Mobile Workstation',
 '(Renewed) DELL XPS 7590 15.6-inch UHD Display Laptop (9th Gen Core i9-9980HK/32GB/1TB SSD/Win 10 + MS Office/4GB Nvidia Graphics), Abyss Grey',
 'Dell Precision 5550 || i9 -10885H || 16GB || 1TB NVMe || T2000 4 GB || Win 10 Pro (Free Upgrade Win 11Pro) / 15.6 FHD+ / 3 Year ADP',
 'Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz 10C) /16GB RAM/512GB SSD+1TB SATA/Nvidia RTX 3070 8GB Graphics/DVDRW/Windows 10 Pro/3 Year Warranty',
 'HP ZBook Power G8/ Intel Core i9-11950H 2.5GHz 8 Core/64GB DDR4/ 2TB PCIe NVMe SSD /15.6 FHD/Nvidia Quadro RTX A2000 Graphics 4GB DDR6/ 1RJ45/ Windows 10 Pro/ 3 Year Warranty from HP']

In [24]:
#extracting price tags

price_tag = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
len(price_tag)

10

In [25]:
#extracting text from the price tag

price = []

for i in price_tag[:10]:
    price.append(i.text)
len(price)

10

In [26]:
price

['1,39,990',
 '1,44,990',
 '1,43,990',
 '2,43,000',
 '2,25,000',
 '2,54,563',
 '1,75,000',
 '2,25,000',
 '2,39,000',
 '2,93,000']

In [28]:
laptop = pd.DataFrame()
laptop ["I9 Laptop Name"] = company_name
laptop ["Price"] = price
laptop

                                      I9 Laptop Name     Price
0  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  1,39,990
1  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  1,44,990
2  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  1,43,990
3  HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...  2,43,000
4  (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...  2,25,000
5  HP Zbook - Intel i9, 15 inch(39.6 cm)FHD 400 N...  2,54,563
6  (Renewed) DELL XPS 7590 15.6-inch UHD Display ...  1,75,000
7  Dell Precision 5550 || i9 -10885H || 16GB || 1...  2,25,000
8  Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz ...  2,39,000
9  HP ZBook Power G8/ Intel Core i9-11950H 2.5GHz...  2,93,000

In [29]:
#### question 9 ####

#connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\GOD\Desktop\Flip ROBO\chromedriver.exe')

In [30]:
#fetching url

url='https://www.ambitionbox.com/'
driver.get(url)

In [31]:
#clicking the jobs option

jobs_button = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
jobs_button.click()

In [58]:
#finding the web element using the search bar using class id
search_job = driver.find_element_by_name("ab_jobsSearch")
search_job

In [59]:
#input the keyword data scientist in search bar 

search_job.send_keys("Data Scientist")

In [65]:
#clicking the search button

search_button = driver.find_element_by_class_name("ctas-btn-medium")
search_button.click()

In [66]:
#clicking the location option

location_option =driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location_option.click()

In [71]:
search_location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_location

In [72]:
#entering the location noida

search_location.send_keys("Noida")

In [73]:
#selecting the location noida

location_tag = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
location_tag.click()

In [75]:
#extracting company name

company_tag =driver.find_elements_by_xpath('//a[@class="title noclick"]')
len(company_tag)

10

In [76]:
#extractig text from company tag

company_name = []

for i in company_tag:
    company_name.append(i.text)
len(company_name)

10

In [77]:
company_name

['Data Scientist',
 'Urgent Requirement || Data Scientist || Noida',
 'EY GDS - Assistant Director - Data Science - AI/ML (15-20 yrs)',
 'Opportunity | Tavant India',
 'Looking For Senior Data Scientist For Denave',
 'Lead Assistant Manager',
 'CogniTensor - Data Scientist (1-2 yrs)',
 'Data Scientist | Data Engineer | Machine Learning',
 'Data Scientist - Machine Learning (5-14 yrs)',
 'Manager Data Scientist']

In [83]:
#extraxting the number of days ago the job was posted

days_tag= driver.find_elements_by_xpath('//span[@class="body-small-l"]')
len(days_tag)

20

In [86]:
#extracting the text from number of days

days = []

for i in days_tag [:10]:
    days.append(i.text)
len(days)

10

In [85]:
days

['13d ago',
 'via naukri.com',
 '27d ago',
 'via naukri.com',
 '28d ago',
 'via iimjobs.com',
 '8d ago',
 'via naukri.com',
 '8d ago',
 'via naukri.com',
 '20d ago',
 'via naukri.com',
 '2d ago',
 'via iimjobs.com',
 '28d ago',
 'via naukri.com',
 '6d ago',
 'via hirist.com',
 '1mon ago',
 'via naukri.com']

In [88]:
#extracting the rating of the company

rating_tag = driver.find_elements_by_xpath('//span[@class="body-small"]')
len(rating_tag)

10

In [89]:
#extracting text from rating tag

ratings =[]

for i in rating_tag:
    ratings.append(i.text)
len(ratings)

10

In [90]:
ratings

['3.9', '3.8', '3.7', '4.0', '4.0', '3.8', '3.8', '4.2', '4.1', '4.0']

In [91]:
datascientist=pd.DataFrame()
datascientist ['Company Name'] = company_name
datascientist['No of Days ago job was posted']= days
datascientist['Company Ratings'] = ratings
datascientist

,Company Name,No of Days ago job was posted,Company Ratings
0,Data Scientist,13d ago,3.9
1,Urgent Requirement || Data Scientist || Noida,via naukri.com,3.8
2,EY GDS - Assistant Director - Data Science - A...,27d ago,3.7
3,Opportunity | Tavant India,via naukri.com,4.0
4,Looking For Senior Data Scientist For Denave,28d ago,4.0
5,Lead Assistant Manager,via iimjobs.com,3.8
6,CogniTensor - Data Scientist (1-2 yrs),8d ago,3.8
7,Data Scientist | Data Engineer | Machine Learning,via naukri.com,4.2
8,Data Scientist - Machine Learning (5-14 yrs),8d ago,4.1
9,Manager Data Scientist,via naukri.com,4.0

In [23]:
#### question 10####


#connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\GOD\Desktop\Flip ROBO\chromedriver.exe')

In [24]:
#fetching url

url='https://www.ambitionbox.com/'
driver.get(url)

In [25]:
#clicking the salary option 

salary_button = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_button.click()

In [26]:
#finding the web element using the search bar using class id
search_job = driver.find_element_by_id("jobProfileSearchbox")
search_job

In [27]:
search_job.send_keys("Data Scientist")

In [35]:
#extracting company name 

company_tag =driver.find_elements_by_xpath ('//div[@class="name"]')
len(company_tag)

10

In [36]:
#extracting text from company tag

company_name = []

for i in company_tag:
    company_name.append(i.text)
len(company_name)

10

In [37]:
company_name

['Walmart\nbased on 10 salaries',
 'Ab Inbev\nbased on 25 salaries',
 'ZS\nbased on 13 salaries',
 'Optum\nbased on 25 salaries',
 'Fractal Analytics\nbased on 75 salaries',
 'Tiger Analytics\nbased on 30 salaries',
 'UnitedHealth\nbased on 51 salaries',
 'Verizon\nbased on 14 salaries',
 'Ganit Business Solutions\nbased on 13 salaries',
 'Ericsson\nbased on 43 salaries']

In [41]:
#extracting lowest and highest salary

sal_tag= driver.find_elements_by_xpath('//div[@class="salary-values"]')
len(sal_tag)

10

In [43]:
#extracting text from salary

salary = []

for i in sal_tag:
    salary.append(i.text)
salary

[' 17.7L\n 35.0L',
 ' 15.0L\n 25.5L',
 ' 9.8L\n 20.0L',
 ' 11.0L\n 21.3L',
 ' 9.5L\n 22.0L',
 ' 9.0L\n 18.5L',
 ' 8.3L\n 20.5L',
 ' 10.0L\n 21.0L',
 ' 8.5L\n 15.0L',
 ' 5.8L\n 24.0L']

In [45]:
#extracting the average ctc

average_tag= driver.find_elements_by_xpath('//p[@class="averageCtc"]')
len(average_tag)

10

In [46]:
#extracting text from the average ctc

average_ctc = []

for i in average_tag:
    average_ctc.append(i.text)
average_ctc

[' 28.7L',
 ' 20.2L',
 ' 15.5L',
 ' 15.1L',
 ' 15.1L',
 ' 14.2L',
 ' 13.8L',
 ' 12.7L',
 ' 12.4L',
 ' 11.9L']

In [47]:
#extracting experience required

exp_tag= driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
len(exp_tag)

10

In [48]:
#extracting text from the experience tag

exp_req = []

for i in exp_tag:
    exp_req.append(i.text)
exp_req

['Data Scientist\n . \n3 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp']

In [49]:
datascience = pd.DataFrame()
datascience ["Company Name"] = company_name
datascience ["Min & Max Sal"] = salary
datascience ["Average Salary"] = average_ctc
datascience ["Experience"] = exp_req
datascience

,Company Name,Min & Max Sal,Average Salary,Experience
0,Walmart\nbased on 10 salaries,17.7L\n 35.0L,28.7L,Data Scientist\n . \n3 yrs exp
1,Ab Inbev\nbased on 25 salaries,15.0L\n 25.5L,20.2L,Data Scientist\n . \n3-4 yrs exp
2,ZS\nbased on 13 salaries,9.8L\n 20.0L,15.5L,Data Scientist\n . \n2 yrs exp
3,Optum\nbased on 25 salaries,11.0L\n 21.3L,15.1L,Data Scientist\n . \n3-4 yrs exp
4,Fractal Analytics\nbased on 75 salaries,9.5L\n 22.0L,15.1L,Data Scientist\n . \n2-4 yrs exp
5,Tiger Analytics\nbased on 30 salaries,9.0L\n 18.5L,14.2L,Data Scientist\n . \n3-4 yrs exp
6,UnitedHealth\nbased on 51 salaries,8.3L\n 20.5L,13.8L,Data Scientist\n . \n2-4 yrs exp
7,Verizon\nbased on 14 salaries,10.0L\n 21.0L,12.7L,Data Scientist\n . \n4 yrs exp
8,Ganit Business Solutions\nbased on 13 salaries,8.5L\n 15.0L,12.4L,Data Scientist\n . \n4 yrs exp
9,Ericsson\nbased on 43 salaries,5.8L\n 24.0L,11.9L,Data Scientist\n . \n3-4 yrs exp